<!-- The Footer -->
<footer
  aria-label="Site Info"
  class="
    d-flex flex-column justify-content-center text-muted
    flex-lg-row justify-content-lg-between align-items-lg-center pb-lg-3
  "
>
  <p>
    &copy; 2025 Roni. Some rights reserved.
  </p>

  <p>
    <a href="https://github.com/roniui" target="_blank" rel="noopener">
      <i class="fa-brands fa-github"></i> GitHub
    </a> |
    <a href="mailto:roniui.github.io@gmail.com">
      <i class="fa-solid fa-envelope"></i> Email
    </a>
  </p>
</footer>
